{"openapi": "3.0.0", "info": {"version": "4.0.0", "title": "Bitly API", "termsOfService": "https://bitly.com/pages/terms-of-service", "contact": {"url": "https://bitly.is/API-support"}, "license": {"name": "Apache 2.0", "url": "http://www.apache.org/licenses/LICENSE-2.0.html"}, "x-logo": {"url": "/v4/header-logo.png"}}, "servers": [{"url": "https://api-ssl.bitly.com/v4"}], "security": [{"bearerAuth": []}], "tags": [{"name": "Groups", "description": "Groups are subdivisions within organizations. Every user will be in at least one group, and every shortened link will be in one group. Most actions on our API will be on behalf of a group. For example, when you shorten a link, it will be on behalf of a user and a group.\n"}, {"name": "Organizations", "description": "Organizations are equivalent to a Bitly account. Every plan limit, group, and user is tied to an organization.\n"}, {"name": "User", "description": "Some subscription plans allow multiple users. Only one user is used for authenticating a call, and these operations apply only to the authenticated user.\n"}, {"name": "BSDs", "description": "Branded short domains (BSDs) are the custom domains used to brand your links. A BSD can be added to a Bitly organization and may be assigned to one or more groups. They can contain up to 32 characters.\n"}, {"name": "Bitlinks", "description": "Bitlinks are shortened links. They could begin with the bit.ly domain or your own custom branded short domain (BSD).\n\n**Related Operations:**\n- [POST /bitlinks](#createFullBitlink) - Create a new bitlink or add a custom keyword to an existing bitlink\n- [PATCH /bitlinks/{bitlink}](#updateBitlink) - Redirect an existing bitlink\n"}, {"name": "Custom Bitlinks", "description": "These endpoints are for updating custom Bitlinks only. Custom Bitlinks have both a BSD and a customized back-half (e.g., yourcompany.com/yourcampaign). If a link begins with the bit.ly domain or ends with an auto-generated random string it is not a custom Bitlink.\n"}, {"name": "Campaigns", "description": "Bitly Campaigns are used to build and organize links and metrics for marketing campaigns.\n"}, {"name": "Webhooks", "description": "Webhooks are a method of sending information from Bitly to an application outside of Bitly. It's a way to automate actions or updates between two different systems. These endpoints are for configuring your webhooks.\n"}, {"name": "Deeplinks", "description": "Deeplinks refers to links that direct a user to a location inside of a mobile application. Bitly allows accounts to configure varying implementations of Deeplinks.\n"}, {"name": "Billing", "description": "All endpoints under this tag are related to accounts subscribing to the Bitly service.\n"}, {"name": "Tiers", "description": "Tiers references what level subscription a Bitly account is under.\n"}, {"name": "SSO", "description": "SSO is an acronym for Single Sign-On. This relates to a method of authentication used by some Bitly accounts.\n"}, {"name": "Invitations", "description": "Invitations allow new users to be invited to a Bitly organization via email or username. These endpoints handle both creation, retrieval, and deletion of invitations tied to an organization.\n"}, {"name": "Bulk Shorten", "description": "Bulk Shorten references the capability for users to upload a csv of links they would like to shorten and optionally customize.\n"}, {"name": "Launchpads", "description": "A link launchpad is a customizable page that contains a collection of links. These endpoints allow for the customization of the links associated with this site and the appearance of the site itself.\n"}, {"name": "Images", "description": "Images can be uploaded to be use in a Bitly QR code. Images can be uploaded, cropped, re-cropped, and fetched via the API. Each image includes an Image GUID and a public URL hosting the image.\n"}, {"name": "QR Codes", "description": "QR codes can be created and customized with different dot patterns, corner shapes, colors, and more. They can contain bitlinks, links to microsites, or several kinds of static data.\n"}, {"name": "AI Assist", "description": "AI Assist insights and chat functionality for data analysis and link creation.\n"}], "paths": {"/shorten": {"post": {"summary": "Shorten a Link", "description": "Converts a long url to a Bitlink. You may see errors returned from this endpoint - \"BRANDED_LINK_MONTHLY_LIMIT_EXCEEDED\" occurs if you have shortened more links than your account is configured for for the month, and \"DNS_CONFIGURATION_ERROR\" occurs if you are attempting to shorten links against a custom domain which doesn't have DNS properly configured.", "tags": ["Bitlinks"], "operationId": "createBitlink", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Shorten"}}}}, "responses": {"200": {"description": "SUCCESS", "headers": {"X-Bsd-Error": {"schema": {"type": "string"}, "description": "An explanation of the DNS error received"}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ShortenBitlinkBody"}}}}, "201": {"description": "CREATED", "headers": {"X-Bsd-Error": {"schema": {"type": "string"}, "description": "An explanation of the DNS error received"}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ShortenBitlinkBody"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "403": {"description": "FORBIDDEN", "headers": {"X-Ratelimit-Reason": {"schema": {"type": "string"}, "description": "An explanation of the ratelimit received."}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "417": {"description": "EXPECTATION_FAILED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ExpectationFailed"}}}}, "422": {"description": "UNPROCESSABLE_ENTITY", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UnprocessableEntity"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/bitlinks": {"post": {"summary": "Create a Bitlink", "description": "Converts a long url to a Bitlink and sets additional parameters. You may see errors returned from this endpoint - \"BRANDED_LINK_MONTHLY_LIMIT_EXCEEDED\" occurs if you have shortened more links than your account is configured for for the month, and \"DNS_CONFIGURATION_ERROR\" occurs if you are attempting to shorten links against a custom domain which doesn't have DNS properly configured.", "tags": ["Bitlinks"], "operationId": "createFullBitlink", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FullShorten"}, "examples": {"Customized Keyword": {"value": {"long_url": "https://dev.bitly.com", "domain": "yourdomain.co", "group_guid": "Ba1bc23dE4F", "keyword": "new-link"}}, "Add Keyword to Existing Bitlink": {"value": {"bitlink_id": "yourdomain.co/1234567890", "keyword": "new-link-edited"}}, "With Expiration": {"value": {"long_url": "https://dev.bitly.com", "expiration_at": "2025-07-28T14:30:00+0000"}}}}}}, "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BitlinkBody"}}}}, "201": {"description": "CREATED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BitlinkBody"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "417": {"description": "EXPECTATION_FAILED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ExpectationFailed"}}}}, "422": {"description": "UNPROCESSABLE_ENTITY", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UnprocessableEntity"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/bitlinks/{bitlink}": {"delete": {"summary": "Delete a Bitlink", "description": "Delete an unedited hash Bitlink.", "tags": ["Bitlinks"], "parameters": [{"$ref": "#/components/parameters/Bitlink"}], "operationId": "deleteBitlink", "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LinkDeletionResponse"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}, "patch": {"summary": "Update a Bitlink", "description": "Updates fields in the specified link. To redirect the link (i.e. to update the Long URL), use the long_url parameter. This will always charge an encode limit.", "tags": ["Bitlinks"], "operationId": "updateBitlink", "parameters": [{"$ref": "#/components/parameters/Bitlink"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BitlinkUpdateBody"}, "examples": {"Redirect Bitlink Destination": {"value": {"long_url": "https://www.newdestination.com"}}, "With Expiration": {"value": {"expiration_at": "2025-07-28T14:30:00+0000"}}}}}}, "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BitlinkBody"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "409": {"description": "CONFLICT", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Conflict"}}}}, "410": {"description": "GONE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Gone"}}}}, "422": {"description": "UNPROCESSABLE_ENTITY", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UnprocessableEntity"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}, "get": {"summary": "Retrieve a Bitlink", "description": "Returns information for the specified link.", "tags": ["Bitlinks"], "parameters": [{"$ref": "#/components/parameters/Bitlink"}], "operationId": "getBitlink", "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BitlinkBody"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "410": {"description": "GONE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Gone"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/expand": {"post": {"summary": "Expand a Bitlink", "description": "Returns the short link and long URL for the specified link.", "tags": ["Bitlinks"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ExpandBitlink"}}}}, "operationId": "expandBitlink", "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ExpandedBitlink"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "410": {"description": "GONE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Gone"}}}}, "422": {"description": "UNPROCESSABLE_ENTITY", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UnprocessableEntity"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/bitlinks/{bitlink}/clicks": {"get": {"summary": "Get Clicks for a Bitlink", "description": "Returns the click counts for the specified link in an array based on a date.", "tags": ["Bitlinks"], "operationId": "getClicksForBitlink", "parameters": [{"$ref": "#/components/parameters/Bitlink"}, {"$ref": "#/components/parameters/TimeUnit"}, {"$ref": "#/components/parameters/UnitAmount"}, {"$ref": "#/components/parameters/UnitReferenceTimeStamp"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Clicks"}}, "text/csv": {"schema": {"type": "string"}, "example": "Date, Clicks\n2023-07-10T00:00:00+0000, 15\n"}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/bitlinks/{bitlink}/clicks/summary": {"get": {"summary": "Get a Clicks Summary for a Bitlink", "description": "Returns the click counts for the specified link rolled up into a single field.", "tags": ["Bitlinks"], "operationId": "getClicksSummaryForBitlink", "parameters": [{"$ref": "#/components/parameters/Bitlink"}, {"$ref": "#/components/parameters/TimeUnit"}, {"$ref": "#/components/parameters/UnitAmount"}, {"$ref": "#/components/parameters/UnitReferenceTimeStamp"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ClicksSummary"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/bitlinks/{bitlink}/engagements": {"get": {"summary": "Get Engagement Counts for a Bitlink", "description": "Returns an array of engagement counts for the specified link. The array is comprised of button click, click and scan counts for each time window, where the window is based on the provided unit.", "tags": ["Bitlinks"], "operationId": "getEngagements", "parameters": [{"$ref": "#/components/parameters/Bitlink"}, {"$ref": "#/components/parameters/TimeUnit"}, {"$ref": "#/components/parameters/UnitAmount"}, {"$ref": "#/components/parameters/UnitReferenceTimeStamp"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TotalEngagements"}}, "text/csv": {"schema": {"type": "string"}, "example": "Date, Engagements\n2006-01-02T15:04:05, 5\n"}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "410": {"description": "GONE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Gone"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/bitlinks/{bitlink}/engagements/summary": {"get": {"summary": "Get an Engagement Count Summary for a Bitlink", "description": "Returns the engagement counts for the specified link rolled up into a single field.", "tags": ["Bitlinks"], "operationId": "getEngagementsSummary", "parameters": [{"$ref": "#/components/parameters/Bitlink"}, {"$ref": "#/components/parameters/TimeUnit"}, {"$ref": "#/components/parameters/UnitAmount"}, {"$ref": "#/components/parameters/UnitReferenceTimeStamp"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TotalEngagementsSummary"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "410": {"description": "GONE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Gone"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/bitlinks/{bitlink}/countries": {"get": {"summary": "Get Metrics for a Bitlink by Country", "description": "Returns the country origins of click traffic for the specified link.", "tags": ["Bitlinks"], "operationId": "getMetricsForBitlinkByCountries", "parameters": [{"$ref": "#/components/parameters/Bitlink"}, {"$ref": "#/components/parameters/TimeUnit"}, {"$ref": "#/components/parameters/UnitAmount"}, {"$ref": "#/components/parameters/Size"}, {"$ref": "#/components/parameters/UnitReferenceTimeStamp"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ClickMetrics"}}, "text/csv": {"schema": {"type": "string"}, "example": "Country, Clicks\nUS, 5\n"}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "410": {"description": "GONE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Gone"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/bitlinks/{bitlink}/cities": {"get": {"summary": "Get Metrics for a Bitlink by City", "description": "Returns the city origins of click traffic for the specified link.", "tags": ["Bitlinks"], "operationId": "getMetricsForBitlinkByCities", "parameters": [{"$ref": "#/components/parameters/Bitlink"}, {"$ref": "#/components/parameters/TimeUnit"}, {"$ref": "#/components/parameters/UnitAmount"}, {"$ref": "#/components/parameters/Size"}, {"$ref": "#/components/parameters/UnitReferenceTimeStamp"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CityMetrics"}}, "text/csv": {"schema": {"type": "string"}, "example": "City, Subregion, Region, Country, Clicks\nNew York, , NY, US, 5\n"}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "410": {"description": "GONE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Gone"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/bitlinks/{bitlink}/devices": {"get": {"summary": "Get Metrics for a Bitlink by Device Type", "description": "Returns the device types generating click traffic to the specified link.", "tags": ["Bitlinks"], "operationId": "getMetricsForBitlinkByDevices", "parameters": [{"$ref": "#/components/parameters/Bitlink"}, {"$ref": "#/components/parameters/TimeUnit"}, {"$ref": "#/components/parameters/UnitAmount"}, {"$ref": "#/components/parameters/Size"}, {"$ref": "#/components/parameters/UnitReferenceTimeStamp"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DeviceMetrics"}}, "text/csv": {"schema": {"type": "string"}, "example": "Device Type, Clicks\nDesktop, 5\n"}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "410": {"description": "GONE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Gone"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/bitlinks/{bitlink}/referrers": {"get": {"summary": "Get Metrics for a Bitlink by Referrers", "description": "Returns referrer click counts for the specified link.", "tags": ["Bitlinks"], "operationId": "getMetricsForBitlinkByReferrers", "parameters": [{"$ref": "#/components/parameters/Bitlink"}, {"$ref": "#/components/parameters/TimeUnit"}, {"$ref": "#/components/parameters/UnitAmount"}, {"$ref": "#/components/parameters/Size"}, {"$ref": "#/components/parameters/UnitReferenceTimeStamp"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ClickMetrics"}}, "text/csv": {"schema": {"type": "string"}, "example": "Referrers, Domain/Sub-Domain, Clicks\nOther Sites, direct, 5\n"}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "410": {"description": "GONE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Gone"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/bitlinks/{bitlink}/referrer_name": {"get": {"summary": "Get Metrics for a Bitlink by Referrer Name", "description": "Returns referrer click counts for the specified link.", "tags": ["Bitlinks"], "operationId": "getMetricsForBitlinkByReferrerName", "parameters": [{"$ref": "#/components/parameters/Bitlink"}, {"$ref": "#/components/parameters/TimeUnit"}, {"$ref": "#/components/parameters/UnitAmount"}, {"$ref": "#/components/parameters/Size"}, {"$ref": "#/components/parameters/UnitReferenceTimeStamp"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ClickMetrics"}}, "text/csv": {"schema": {"type": "string"}, "example": "Referrer-Name,Clicks\ndirect,4\n"}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "410": {"description": "GONE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Gone"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/bitlinks/{bitlink}/referring_domains": {"get": {"summary": "Get Metrics for a Bitlink by Referring Domains", "description": "Returns the referring domain click counts for the specified link.", "tags": ["Bitlinks"], "operationId": "getMetricsForBitlinkByReferringDomains", "parameters": [{"$ref": "#/components/parameters/Bitlink"}, {"$ref": "#/components/parameters/TimeUnit"}, {"$ref": "#/components/parameters/UnitAmount"}, {"$ref": "#/components/parameters/Size"}, {"$ref": "#/components/parameters/UnitReferenceTimeStamp"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ClickMetrics"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "410": {"description": "GONE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Gone"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/bitlinks/{bitlink}/referrers_by_domains": {"get": {"summary": "Get Metrics for a Bitlink by Referrers by Domain", "description": "Returns click metrics grouped by referrers for the specified link.", "tags": ["Bitlinks"], "operationId": "getMetricsForBitlinkByReferrersByDomains", "parameters": [{"$ref": "#/components/parameters/Bitlink"}, {"$ref": "#/components/parameters/TimeUnit"}, {"$ref": "#/components/parameters/UnitAmount"}, {"$ref": "#/components/parameters/Size"}, {"$ref": "#/components/parameters/UnitReferenceTimeStamp"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ReferrersByDomains"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "410": {"description": "GONE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Gone"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/custom_bitlinks": {"post": {"summary": "Add Custom Bitlink", "description": "Add a keyword (or \"custom back-half\") to a Bitlink with a Custom Domain (domains must match). This endpoint can also be used for initial redirects to a link.", "tags": ["Custom Bitlinks"], "operationId": "addCustomBitlink", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AddCustomBitlink"}}}}, "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CustomBitlink"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "409": {"description": "Conflict", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "422": {"description": "UNPROCESSABLE_ENTITY", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UnprocessableEntity"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/custom_bitlinks/{custom_bitlink}": {"patch": {"summary": "Update Custom Bitlink", "description": "Move a keyword (or custom back-half) to a different Bitlink (domains must match).", "tags": ["Custom Bitlinks"], "operationId": "updateCustomBitlink", "parameters": [{"$ref": "#/components/parameters/CustomBitlink"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpdateCustomBitlink"}}}}, "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CustomBitlink"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "422": {"description": "UNPROCESSABLE_ENTITY", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UnprocessableEntity"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}, "get": {"summary": "Retrieve Custom Bitlink", "description": "Returns the details and history of the specified link.", "tags": ["Custom Bitlinks"], "operationId": "getCustomBitlink", "parameters": [{"$ref": "#/components/parameters/CustomBitlink"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CustomBitlink"}}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "410": {"description": "GONE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Gone"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/custom_bitlinks/{custom_bitlink}/clicks_by_destination": {"get": {"summary": "Get Metrics for a Custom Bitlink by Destination", "description": "Returns click metrics for the specified link by its historical destinations.", "operationId": "getCustomBitlinkMetricsByDestination", "tags": ["Custom Bitlinks"], "parameters": [{"$ref": "#/components/parameters/CustomBitlink"}, {"$ref": "#/components/parameters/TimeUnit"}, {"$ref": "#/components/parameters/UnitAmount"}, {"$ref": "#/components/parameters/UnitReferenceTimeStamp"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ClickMetrics"}}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "410": {"description": "GONE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Gone"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/custom_bitlinks/{custom_bitlink}/clicks": {"get": {"summary": "Get Clicks for a Custom Bitlink's Entire History", "description": "Returns the click counts for the specified link. This returns an array with clicks based on a date.", "tags": ["Custom Bitlinks"], "operationId": "getClicksForCustomBitlink", "parameters": [{"$ref": "#/components/parameters/CustomBitlink"}, {"$ref": "#/components/parameters/TimeUnit"}, {"$ref": "#/components/parameters/UnitAmount"}, {"$ref": "#/components/parameters/UnitReferenceTimeStamp"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Clicks"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "410": {"description": "GONE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Gone"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/groups": {"get": {"summary": "Retrieve Groups", "description": "Returns a list of groups in the organization.", "tags": ["Groups"], "operationId": "getGroups", "parameters": [{"$ref": "#/components/parameters/OrganizationGUIDFilter"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Groups"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "422": {"description": "UNPROCESSABLE_ENTITY", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UnprocessableEntity"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/groups/{group_guid}": {"patch": {"summary": "Update a Group", "description": "Updates the details of a group.", "tags": ["Groups"], "operationId": "updateGroup", "parameters": [{"$ref": "#/components/parameters/GroupGUID"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GroupUpdate"}}}}, "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Group"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "422": {"description": "UNPROCESSABLE_ENTITY", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UnprocessableEntity"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}, "get": {"summary": "Retrieve a Group", "description": "Returns details for a group.", "tags": ["Groups"], "operationId": "getGroup", "parameters": [{"$ref": "#/components/parameters/GroupGUID"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Group"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/groups/{group_guid}/tags": {"get": {"summary": "Retrieve Tags by Group", "description": "Returns the tags currently used in the specified group. Maximum 1000.", "tags": ["Groups"], "operationId": "getGroupTags", "parameters": [{"$ref": "#/components/parameters/GroupGUID"}, {"$ref": "#/components/parameters/TagType"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Tags"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/groups/{group_guid}/bitlinks": {"get": {"summary": "Retrieve Bitlinks by Group", "description": "Returns a paginated collection of Bitlinks for a group. The list of custom bitlinks has newest entries first.", "tags": ["Bitlinks"], "operationId": "getBitlinksByGroup", "parameters": [{"$ref": "#/components/parameters/GroupGUID"}, {"$ref": "#/components/parameters/Size"}, {"$ref": "#/components/parameters/SearchAfter"}, {"$ref": "#/components/parameters/Query"}, {"$ref": "#/components/parameters/HostnamePathQuery"}, {"$ref": "#/components/parameters/CreatedBefore"}, {"$ref": "#/components/parameters/CreatedAfter"}, {"$ref": "#/components/parameters/Archived"}, {"$ref": "#/components/parameters/Deeplinks"}, {"$ref": "#/components/parameters/DomainDeeplinks"}, {"$ref": "#/components/parameters/FilterCampaignGUID"}, {"$ref": "#/components/parameters/FilterChannelGUID"}, {"$ref": "#/components/parameters/FilterCustomBitlink"}, {"$ref": "#/components/parameters/FilterHasQRCodes"}, {"$ref": "#/components/parameters/Tags"}, {"$ref": "#/components/parameters/LaunchpadIDs"}, {"$ref": "#/components/parameters/EncodingLogin"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Bitlinks"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}, "patch": {"summary": "Bulk update bitlinks", "description": "Bulk update can add or remove tags or archive up to 100 links at a time; The response includes a list of bitlink ids that were updated.", "tags": ["Bitlinks"], "operationId": "updateBitlinksByGroup", "parameters": [{"$ref": "#/components/parameters/GroupGUID"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BulkUpdateRequest"}}}}, "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BulkUpdate"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "422": {"description": "UNPROCESSABLE_ENTITY", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UnprocessableEntity"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/groups/{group_guid}/bitlinks/{sort}": {"get": {"summary": "Retrieve Sorted Bitlinks for Group", "description": "Returns a list of Bitlinks sorted by group. The list of custom bitlinks has newest entries first.", "operationId": "getSortedBitlinks", "tags": ["Bitlinks"], "parameters": [{"$ref": "#/components/parameters/GroupGUID"}, {"$ref": "#/components/parameters/Sort"}, {"$ref": "#/components/parameters/TimeUnitOptional"}, {"$ref": "#/components/parameters/UnitAmountOptional"}, {"$ref": "#/components/parameters/UnitReferenceTimeStamp"}, {"$ref": "#/components/parameters/SortedSize"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SortedLinks"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/groups/{group_guid}/preferences": {"get": {"summary": "Retrieve Group Preferences", "description": "Returns preferences for the specified group.", "operationId": "getGroupPreferences", "tags": ["Groups"], "parameters": [{"$ref": "#/components/parameters/GroupGUID"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GroupPreferences"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}, "patch": {"summary": "Update Group Preferences", "description": "Updates preferences for a group.", "operationId": "updateGroupPreferences", "tags": ["Groups"], "parameters": [{"$ref": "#/components/parameters/GroupGUID"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GroupPreferences"}}}}, "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GroupPreferences"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "422": {"description": "UNPROCESSABLE_ENTITY", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UnprocessableEntity"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/groups/{group_guid}/shorten_counts": {"get": {"summary": "Retrieve Group Shorten Counts", "description": "Returns all the shorten counts for a group.", "operationId": "getGroupShortenCounts", "tags": ["Groups"], "parameters": [{"$ref": "#/components/parameters/GroupGUID"}, {"$ref": "#/components/parameters/TimeUnit"}, {"$ref": "#/components/parameters/UnitAmount"}, {"$ref": "#/components/parameters/UnitReferenceTimeStamp"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Metrics"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/groups/{group_guid}/countries": {"get": {"summary": "Get Click Metrics for a Group by Country", "description": "Returns the geographic origins of click traffic by country for the specified group.", "operationId": "getGroupMetricsByCountries", "tags": ["Groups"], "parameters": [{"$ref": "#/components/parameters/GroupGUID"}, {"$ref": "#/components/parameters/TimeUnit"}, {"$ref": "#/components/parameters/UnitAmount"}, {"$ref": "#/components/parameters/Size"}, {"$ref": "#/components/parameters/UnitReferenceTimeStamp"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ClickMetrics"}}, "text/csv": {"schema": {"type": "string"}, "example": "Country, Clicks\nUS, 5\n"}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/groups/{group_guid}/cities": {"get": {"summary": "Get Click Metrics for a Group by City", "description": "Returns the geographic origins of click traffic by city for the specified group.", "operationId": "getGroupMetricsByCities", "tags": ["Groups"], "parameters": [{"$ref": "#/components/parameters/GroupGUID"}, {"$ref": "#/components/parameters/TimeUnit"}, {"$ref": "#/components/parameters/UnitAmount"}, {"$ref": "#/components/parameters/Size"}, {"$ref": "#/components/parameters/UnitReferenceTimeStamp"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CityMetrics"}}, "text/csv": {"schema": {"type": "string"}, "example": "City, Subregion, Region, Country, Clicks\nNew York, , NY, US, 5\n"}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/groups/{group_guid}/devices": {"get": {"summary": "Get Click Metrics for a Group by Device Type", "description": "Returns the device types generating click traffic to the specified group's links.", "operationId": "getGroupMetricsByDevices", "tags": ["Groups"], "parameters": [{"$ref": "#/components/parameters/GroupGUID"}, {"$ref": "#/components/parameters/TimeUnit"}, {"$ref": "#/components/parameters/UnitAmount"}, {"$ref": "#/components/parameters/Size"}, {"$ref": "#/components/parameters/UnitReferenceTimeStamp"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DeviceMetrics"}}, "text/csv": {"schema": {"type": "string"}, "example": "Device Type, Clicks\nDesktop, 5\n"}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/groups/{group_guid}/referring_networks": {"get": {"summary": "Get Click Metrics for a Group by Referring Networks", "description": "Returns metrics by referring networks for the specified group's links.", "operationId": "GetGroupMetricsByReferringNetworks", "tags": ["Groups"], "parameters": [{"$ref": "#/components/parameters/GroupGUID"}, {"$ref": "#/components/parameters/TimeUnit"}, {"$ref": "#/components/parameters/UnitAmount"}, {"$ref": "#/components/parameters/Size"}, {"$ref": "#/components/parameters/UnitReferenceTimeStamp"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ClickMetrics"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/groups/{group_guid}/referrers": {"get": {"summary": "Get Click Metrics for a Group by Referrer", "description": "Returns metrics by referrer for the specified group's links.", "operationId": "GetGroupMetricsByReferrer", "tags": ["Groups"], "parameters": [{"$ref": "#/components/parameters/GroupGUID"}, {"$ref": "#/components/parameters/TimeUnit"}, {"$ref": "#/components/parameters/UnitAmount"}, {"$ref": "#/components/parameters/Size"}, {"$ref": "#/components/parameters/UnitReferenceTimeStamp"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ClickMetrics"}}, "text/csv": {"schema": {"type": "string"}, "example": "Referrer,Clicks\ndirect,25\n"}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/groups/{group_guid}/engagements/top": {"get": {"operationId": "getGroupTopMetrics", "tags": ["Groups"], "description": "Get top performing links by engagement for all links in a group.", "summary": "Get Group Top Performing Links by Engagement", "parameters": [{"$ref": "#/components/parameters/GroupGUID"}, {"$ref": "#/components/parameters/TimeUnit"}, {"$ref": "#/components/parameters/UnitAmount"}, {"$ref": "#/components/parameters/Size"}, {"$ref": "#/components/parameters/UnitReferenceTimeStamp"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SortedLinks"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/groups/{group_guid}/engagements/over_time": {"get": {"operationId": "getGroupMetricsOverTime", "tags": ["Groups"], "description": "Get group engagement metrics over time for all links in a group.", "summary": "Get Group Metrics Over Time", "parameters": [{"$ref": "#/components/parameters/GroupGUID"}, {"$ref": "#/components/parameters/TimeUnit"}, {"$ref": "#/components/parameters/UnitAmount"}, {"$ref": "#/components/parameters/UnitReferenceTimeStamp"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GroupClicks"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/groups/{group_guid}/clicks": {"get": {"operationId": "getGroupClicks", "tags": ["Groups"], "description": "get number of clicks on bitlinks in a group", "summary": "Get clicks by group", "parameters": [{"$ref": "#/components/parameters/GroupGUID"}, {"$ref": "#/components/parameters/TimeUnit"}, {"$ref": "#/components/parameters/UnitAmount"}, {"$ref": "#/components/parameters/UnitReferenceTimeStamp"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GroupClicks"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/organizations": {"get": {"summary": "Retrieve Organizations", "description": "Retrieve a list of organizations.", "tags": ["Organizations"], "operationId": "getOrganizations", "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Organizations"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/organizations/{organization_guid}": {"get": {"summary": "Retrieve an Organization", "description": "Retrive details for the specified organization.", "tags": ["Organizations"], "operationId": "getOrganization", "parameters": [{"$ref": "#/components/parameters/OrganizationGUID"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Organization"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/organizations/{organization_guid}/shorten_counts": {"get": {"description": "Returns the shorten counts for a specific organization over a specified time period.", "summary": "Get Shorten Counts for an Organization", "operationId": "getOrganizationShortenCounts", "tags": ["Organizations"], "parameters": [{"$ref": "#/components/parameters/OrganizationGUID"}, {"$ref": "#/components/parameters/TimeUnit"}, {"$ref": "#/components/parameters/UnitAmount"}, {"$ref": "#/components/parameters/UnitReferenceTimeStamp"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Metrics"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/organizations/{organization_guid}/shorten_counts_by_group": {"get": {"description": "Returns the shorten counts for a specific organization by group for the current month.", "summary": "Get Shorten Counts for an Organization by Group", "operationId": "getOrganizationShortenCountsByGroup", "tags": ["Organizations"], "parameters": [{"$ref": "#/components/parameters/OrganizationGUID"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Metrics"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/user": {"patch": {"summary": "Update a User", "description": "Update fields in the user", "tags": ["User"], "operationId": "updateUser", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserUpdate"}}}}, "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/User"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "422": {"description": "UNPROCESSABLE_ENTITY", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UnprocessableEntity"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}, "get": {"summary": "Retrieve a User", "description": "Returns information for the current authenticated user.", "tags": ["User"], "operationId": "getUser", "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/User"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/campaigns": {"get": {"summary": "Retrieve Campaigns", "description": "Returns the campaigns for the current authenticated user.", "operationId": "getCampaigns", "tags": ["Campaigns"], "parameters": [{"$ref": "#/components/parameters/GroupGUIDFilter"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Campaigns"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "502": {"description": "BAD_GATEWAY", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadGateway"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}, "post": {"summary": "Create Campaign", "description": "Creates a new campaign.", "operationId": "createCampaign", "tags": ["Campaigns"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CampaignModify"}}}}, "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Campaign"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "422": {"description": "UNPROCESSABLE_ENTITY", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UnprocessableEntity"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/campaigns/{campaign_guid}": {"get": {"summary": "Retrieve a Campaign", "description": "Returns details for a campaign.", "operationId": "getCampaign", "tags": ["Campaigns"], "parameters": [{"$ref": "#/components/parameters/CampaignGUID"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Campaign"}}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}, "patch": {"summary": "Update Campaign", "description": "Updates a campaign's details.", "operationId": "updateCampaign", "tags": ["Campaigns"], "parameters": [{"$ref": "#/components/parameters/CampaignGUID"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CampaignModify"}}}}, "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Campaign"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "422": {"description": "UNPROCESSABLE_ENTITY", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UnprocessableEntity"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/channels": {"get": {"summary": "Retrieve Channels", "description": "Returns the channels available to a user.", "operationId": "getChannels", "tags": ["Campaigns"], "parameters": [{"$ref": "#/components/parameters/GroupGUIDFilter"}, {"$ref": "#/components/parameters/CampaignGUIDFilter"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Channels"}}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}, "post": {"summary": "Create Channel", "description": "Creates a new channel.", "operationId": "createChannel", "tags": ["Campaigns"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChannelModify"}}}}, "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Channel"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "422": {"description": "UNPROCESSABLE_ENTITY", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UnprocessableEntity"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/channels/{channel_guid}": {"get": {"summary": "Get a Channel", "description": "Returns a channel's details.", "operationId": "getChannel", "tags": ["Campaigns"], "parameters": [{"$ref": "#/components/parameters/ChannelGUID"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Channel"}}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}, "patch": {"summary": "Update a Channel", "description": "Updates an existing channel.", "operationId": "updateChannel", "tags": ["Campaigns"], "parameters": [{"$ref": "#/components/parameters/ChannelGUID"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChannelModify"}}}}, "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Channel"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "422": {"description": "UNPROCESSABLE_ENTITY", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UnprocessableEntity"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/apps/{client_id}": {"get": {"summary": "Retrieve OAuth App", "description": "Retrieve the details for the provided OAuth App client ID", "operationId": "getOAuthApp", "parameters": [{"$ref": "#/components/parameters/ClientID"}], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OAuthApp"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/bsds": {"get": {"summary": "Get BSDs", "description": "Fetch all Branded Short Domains", "operationId": "getBSDs", "tags": ["BSDs"], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BSDsResponse"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "403": {"description": "FORBIDDEN", "headers": {"X-Ratelimit-Reason": {"schema": {"type": "string"}, "description": "An explanation of the ratelimit received."}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/organizations/{organization_guid}/webhooks": {"get": {"summary": "Get Webhooks", "description": "Fetch all webhooks available for an Organization", "operationId": "getWebhooks", "parameters": [{"$ref": "#/components/parameters/OrganizationGUID"}], "tags": ["Webhooks"], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Webhooks"}}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/webhooks": {"post": {"summary": "Create Webhook", "description": "Creates a webhook.", "operationId": "createWebhook", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WebhookCreate"}}}}, "tags": ["Webhooks"], "responses": {"201": {"description": "CREATED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Webhook"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "422": {"description": "UNPROCESSABLE_ENTITY", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UnprocessableEntity"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/webhooks/{webhook_guid}": {"get": {"summary": "Retrieve Webhook", "description": "Returns a webhook.", "operationId": "getWebhook", "parameters": [{"$ref": "#/components/parameters/WebhookGUID"}], "tags": ["Webhooks"], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Webhook"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}, "patch": {"summary": "Update Webhook", "description": "Update a webhook", "operationId": "updateWebhook", "parameters": [{"$ref": "#/components/parameters/WebhookGUID"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WebhookUpdate"}}}}, "tags": ["Webhooks"], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Webhook"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "422": {"description": "UNPROCESSABLE_ENTITY", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UnprocessableEntity"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}, "delete": {"summary": "Delete Webhook", "description": "Deletes a webhook.", "operationId": "deleteWebhook", "parameters": [{"$ref": "#/components/parameters/WebhookGUID"}], "tags": ["Webhooks"], "responses": {"204": {"description": "SUCCESS"}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/webhooks/{webhook_guid}/verify": {"post": {"summary": "Verify Webhook", "description": "Sends ping event to test webhook configuration.", "operationId": "verifyWebhook", "parameters": [{"$ref": "#/components/parameters/WebhookGUID"}], "tags": ["Webhooks"], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Webhook"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/organizations/{organization_guid}/plan_limits": {"get": {"summary": "Get Plan Limits", "description": "Returns all plan limits and counts available for an organization.", "operationId": "getPlanLimits", "parameters": [{"$ref": "#/components/parameters/OrganizationGUID"}], "tags": ["Organizations"], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PlanLimits"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/user/platform_limits": {"get": {"summary": "Get Platform Limits", "description": "Fetch all platform limits and counts available for an organization", "operationId": "getPlatformLimits", "parameters": [{"$ref": "#/components/parameters/Path"}], "tags": ["User"], "responses": {"200": {"description": "SUCCESS", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PlatformLimits"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}, "503": {"description": "TEMPORARILY_UNAVAILABLE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TemporarilyUnavailable"}}}}}}}, "/qr-codes": {"post": {"summary": "Create a QR Code", "description": "Create a new QR Code and return its metadata", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PublicCreateQRCodeRequest"}, "examples": {"Minimal": {"value": {"title": "Minimal QR Code", "group_guid": "Ba1bc23dE4F", "destination": {"bitlink_id": "bit.ly/abc123"}, "tags": ["tag1", "tag2"]}}, "Link in Bio": {"value": {"title": "Link-in-Bio QR Code", "group_guid": "Ba1bc23dE4F", "destination": {"site_id": "Mabc123"}}}, "Complex": {"value": {"title": "Complex QR Code", "group_guid": "Ba1bc23dE4F", "destination": {"bitlink_id": "bit.ly/abc123"}, "archived": false, "render_customizations": {"background_color": "#ffffff", "dot_pattern_color": "#EF8000", "dot_pattern_type": "rounded", "corners": {"corner_1": {"inner_color": "#EF8000", "outer_color": "#EF8000", "shape": "concave"}, "corner_2": {"inner_color": "#EF8000", "outer_color": "#EF8000", "shape": "leaf"}, "corner_3": {"inner_color": "#EF8000", "outer_color": "#EF8000", "shape": "target"}}, "logo": {"image_guid": "bitlylogo"}, "frame": {"id": "text_top_and_bottom", "colors": {"primary": "#F55656", "background": "#FFFFFF"}, "text": {"primary": {"content": "QR Frame"}, "secondary": {"content": "Frame Text"}}}, "branding": {"bitly_brand": true}}}}, "Gradients": {"value": {"title": "Gradient QR Code", "group_guid": "Ba1bc23dE4F", "destination": {"bitlink_id": "bit.ly/abc123"}, "archived": false, "render_customizations": {"dot_pattern_type": "rounded", "corners": {"corner_1": {"shape": "leaf"}, "corner_2": {"shape": "leaf"}, "corner_3": {"shape": "leaf"}}, "gradient": {"style": "linear", "angle": 45, "colors": [{"color": "#C80404", "offset": 10}, {"color": "#042F86", "offset": 90}], "exclude_corners": false}, "background_gradient": {"style": "radial", "colors": [{"color": "#C696EE", "offset": 25}, {"color": "#D4E1A8", "offset": 50}]}}}}, "Framed": {"value": {"title": "Framed QR Code", "group_guid": "Ba1bc23dE4F", "destination": {"bitlink_id": "bit.ly/abc123"}, "archived": false, "render_customizations": {"frame": {"id": "arrow", "colors": {"primary": "#F55656", "background": "#FFFFFF"}, "text": {"primary": {"content": "Scan Here"}}}, "background_color": "#ffffff", "dot_pattern_color": "#EF8000", "dot_pattern_type": "rounded", "corners": {"corner_1": {"inner_color": "#EF8000", "outer_color": "#EF8000", "shape": "concave"}, "corner_2": {"inner_color": "#EF8000", "outer_color": "#EF8000", "shape": "leaf"}, "corner_3": {"inner_color": "#EF8000", "outer_color": "#EF8000", "shape": "target"}}, "logo": {"image_guid": "bitlylogo"}}}}, "Lowest Error Correction": {"value": {"title": "Lowest Error Correction QR Code", "group_guid": "Ba1bc23dE4F", "destination": {"bitlink_id": "bit.ly/abc123"}, "render_customizations": {"spec_settings": {"error_correction": 1}}}}, "GS1": {"value": {"title": "GS1 QR Code", "group_guid": "Ba1bc23dE4F", "destination": {"bitlink_id": "bit.ly/abc123"}, "gs1": {"values": [{"key": "01", "value": "12345670"}]}}}, "With Expiration": {"value": {"group_guid": "Ba1bc23dE4F", "destination": {"bitlink_id": "bit.ly/abc123"}, "expiration_at": "2025-07-28T14:30:00+0000"}}, "Stand Alone QR Code": {"value": {"title": "Stand Alone QR Code", "group_guid": "Ba1bc23dE4F", "destination": {"long_url": "https://example.com/page"}}}}}}}, "operationId": "createQRCodePublic", "tags": ["QR Codes"], "responses": {"201": {"description": "CREATED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/QRCodeMinimal"}}}}, "400": {"description": "BAD_REQUEST", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BadRequest"}}}}, "402": {"description": "UPGRADE_REQUIRED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UpgradeRequired"}}}}, "403": {"description": "FORBIDDEN", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Forbidden"}}}}, "404": {"description": "NOT_FOUND", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotFound"}}}}, "429": {"description": "MONTHLY_LIMIT_EXCEEDED", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MonthlyLimitExceeded"}}}}, "410": {"description": "GONE", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Gone"}}}}, "500": {"description": "INTERNAL_ERROR", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/InternalError"}}}}}}}, "/qr-codes/static": {"post": {"summary": "Generate a static QR Code image", "description": "Generate a static QR code image without creating or saving a QR code resource. SVG and PNG output are supported via the Accept header\nContact your Account Manager to discuss enabling this feature for your account.\n\nThe `render_customizations` field supports basic appearance options. Customizations that require the rasterize API are not supported: `gradient`, `background_gradient`, `frame`, `text`, and `logo`.\n\nThe Accept header controls the response format:\n- `application/json` (default): Returns a JSON object with the image as a base64-encoded byte string.\n- `image/svg+xml`: Returns the raw SVG image.\n- `image/png`: Returns the raw PNG image.\n", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PublicCreateStaticQRCodeRequest"}, "examples": {"Minimal": {"value": {"content": "https://bitly.com", "group_guid": "Ba1bc23dE4F"}}, "With Customizations": {"value": {"content": "https://bitly.com", "group_guid": "Ba1bc23dE4F", "render_customizations": {"background_color": "#ffffff", "dot_pattern_color": "#EF8000", "dot_pattern_type": "rounded", "corners": {"corner_1": {"inner_color": "#EF8000", "outer_color": "#EF8000", "shape": "leaf"}, "corner_2": {"inner_color": "#EF8000", "outer_color": "#EF8000", "shape": "leaf"}, "corner_3": {"inner_color": "#EF8000", "outer_color": "#EF8000", "shape": "leaf"}}}}}}}}}, "operationId": "createStaticQRCodePublic", "tags": ["QR Codes"], "parameters": [{"in": "header", "name": "Accept", "description": "Controls the response format. Use `application/json` (default) to receive a JSON-wrapped base64 image, `image/svg+xml` to receive the raw SVG, or `image/png` to receive the raw PNG.", "schema": {"type": "string", "enum": ["application/json", "image/svg+xml", "image/png"]}, "required": false, "example": "image/svg+xml"}, {"in": "query", "name": "format", "description": "The image format. Supports `svg` and `
[...]
